---
import { getEntry } from 'astro:content'
import { truncate } from 'lodash-es'

import TimeLine from './TimeLine.astro'

interface Props {
  slug: string
}
const { slug } = Astro.props

const p = (await getEntry('projects', slug))!
const { Content } = await p.render()
const desc = truncate(p.body, { length: 160 })
---

<TimeLine
  title={`${p.data.title}, ${p.data.customer}`}
  subtitle={`From ${p.data.from} to ${p.data.to}, ${p.data.role}`}
>
  <div class="prose-sm">
    <div class="md:hidden">
      {desc}
      <a class="underline" href={`/projects/${p.slug}`}>more</a>
    </div>
    <div class="hidden md:block"><Content /></div>
  </div>
</TimeLine>
