---
import { truncate } from 'lodash-es'

import { fromTo, projects } from '@/data'

import TimeLine from './TimeLine.astro'

interface Props {
  slug: string
}
const { slug } = Astro.props

const p = projects.find((x) => x.slug === slug)!
const desc = truncate(p.paragraphs[0], { length: 160 })
---

<TimeLine title={`${p.title}, ${p.customer}`} subtitle={`${fromTo(p)}, ${p.role}`}>
  <div class="prose-sm">
    <div class="md:hidden">
      {desc}
      <a class="underline" href={`/projects/${p.slug}`}>more</a>
    </div>
    <div class="hidden md:block">{p.paragraphs.map((x) => <p>{x}</p>)}</div>
  </div>
</TimeLine>
