---
import { truncate } from "lodash-es";
import { getCollection, getEntry } from "astro:content";
import TimeLineElement from "./TimeLine.astro";

interface Props {
  slug: string
}
const { slug } = Astro.props

const p = (await getEntry('projects', slug))!
const { Content } = await p.render()
const desc = truncate(p.body, { length: 160 })
---
<TimeLineElement
  title={`${p.data.title}, ${p.data.customer}`}
  subtitle={`From ${p.data.from} to ${p.data.to}, ${p.data.role}`}
>
  <div class="prose prose-sm xl:prose-base">
    <div class="md:hidden">{desc}</div>
    <div class="hidden md:block"><Content /></div>
  </div>
</TimeLineElement>
