---
import { Icon } from 'astro-icon/components'

interface Props {
  title: string
  icon?: string
  desc: string
  url: string
  badges?: string[]
  tags?: string[]
  tagUrl?: string
  target?: string
}

const { title, icon, desc, url, badges, tags, target = '_blank' } = Astro.props
const tag_url = Astro.props.tagUrl || '/tag'
---

<div class="rounded-lg bg-base-100 transition ease-in-out hover:scale-[102%] hover:shadow-xl">
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {icon && <Icon name={icon} class="hidden h-16 w-16 md:block" />}
      <div class="w-full grow">
        <h1 class="flex items-center text-xl font-bold">{title}</h1>
        <p class="text-1xl py-1">{desc}</p>
        {
          (badges || tags) && (
            <div class="mt-1 flex flex-wrap items-center gap-2">
              {badges?.map((badge) => (
                <span class="badge badge-secondary sm:badge-lg">{badge}</span>
              ))}
              {tags?.map((tag) => (
                <a href={`${tag_url}/${tag}`} class="badge badge-outline sm:badge-lg">
                  {tag}
                </a>
              ))}
            </div>
          )
        }
      </div>
    </div>
  </a>
</div>
