---
import { Icon } from 'astro-icon/components'

interface Props {
  title: string
  icon?: string
  desc: string
  url: string
  badge?: string
  tags?: string[]
  tagUrl?: string
  target?: string
}

const { title, icon, desc, url, badge, tags, target = '_blank' } = Astro.props
const tag_url = Astro.props.tagUrl || '/tag'
---

<div class="rounded-lg bg-base-100 transition ease-in-out hover:scale-[102%] hover:shadow-xl">
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {icon && <Icon name={icon} class="hidden h-16 w-16 md:block" />}
      <div class="w-full grow">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <span class="badge badge-secondary badge-lg mx-2">{badge}</span>}
        </h1>
        <p class="text-1xl py-1">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => (
                <a href={`${tag_url}/${tag}`} class="badge badge-outline badge-lg">
                  {tag}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
