---
import Layout from '@/components/Layout/Layout.astro'
import * as data from '@/data'
import * as fmt from '@/lib/format'

export function getStaticPaths() {
  return data.projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }))
}

const { project } = Astro.props
---

<Layout title={project.title}>
  <main>
    <article class="prose max-w-[750px] prose-img:mx-auto">
      <h1 class="title my-2 text-4xl font-bold">{project.title}</h1>
      <div>{project.customer}</div>
      <div>
        {fmt.fromTo(project)}, <span class="whitespace-nowrap">{project.role}</span>
      </div>
      <div class="mt-2 flex flex-wrap gap-2">
        {
          project.tags?.map((tag) => (
            <a href={`/projects/${tag}`} class="badge badge-outline badge-lg no-underline">
              {tag}
            </a>
          ))
        }
      </div>
      <div class="divider my-2"></div>
      {project.paragraphs.map((p) => <p>{p}</p>)}
    </article>
  </main>
</Layout>
