---
import { cx } from 'class-variance-authority'

import Layout from '@/components/Layout/Layout.astro'
import ProjectCardFoss from '@/components/ProjectCardFoss.astro'
import ProjectCardWork from '@/components/ProjectCardWork.astro'
import SectionHeading from '@/components/SectionHeading.astro'
import * as data from '@/data'

export function getStaticPaths() {
  const tags = data.allProjectTags()

  return tags.map((tag) => ({
    params: { tag },
    props: {
      projects: data.projects.filter((x) => x.tags.includes(tag)),
      foss: data.foss.filter((x) => x.tags.includes(tag)),
    },
  }))
}

const { tag } = Astro.params
const { projects, foss } = Astro.props
---

<Layout title={`Projects with '${tag}'`} sideBarActiveItemID="projects">
  <div class="mb-5">
    <SectionHeading>Projects with <i>{tag}</i></SectionHeading>
  </div>

  {
    projects.map((p, idx) => (
      <>
        <div class={cx('divider my-0', { hidden: idx === 0 })} />
        <ProjectCardWork slug={p.slug} project={p} />
      </>
    ))
  }

  {
    foss.map((p, idx) => (
      <>
        <div class={cx('divider my-0', { hidden: idx === 0 && projects.length === 0 })} />
        <ProjectCardFoss project={p} />
      </>
    ))
  }
</Layout>
