---
import type { Tag } from '@/data'

import Layout from '@/components/Layout/Layout.astro'
import SectionHeading from '@/components/SectionHeading.astro'
import { allProjectTags, certs, employments, pinnedProjects } from '@/data'
import * as fmt from '@/lib/format'

import Project from './_components/Project.astro'
import Subtitle from './_components/Subtitle.astro'
import TimeLine from './_components/TimeLine.astro'
import Title from './_components/Title.astro'

const projects = pinnedProjects
const skipSkills: Tag[] = ['Azure', 'folktale', 'monocle-ts', 'PureScript', 'ramda', 'Vue']
const skills = allProjectTags()
  .filter((x) => !skipSkills.includes(x))
  .sort((a, b) => a.localeCompare(b, undefined, { sensitivity: 'base' }))
---

<Layout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <SectionHeading>Project Experience</SectionHeading>
  </div>

  <div class="mb-8">
    {
      projects.map((p, idx) => (
        <TimeLine last={idx === projects.length - 1}>
          <Project slug={p.slug} />
        </TimeLine>
      ))
    }
  </div>

  <div class="mb-5">
    <SectionHeading>Employment</SectionHeading>
  </div>

  <div class="mb-8">
    {
      employments.map((e, idx) => (
        <TimeLine last={idx === employments.length - 1}>
          <div class="mb-4">
            <Title>{e.title}</Title>
            <Subtitle>
              {`${fmt.fromTo(e)} ${e.employer}`}
              {e.locations && `, ${e.locations?.join(' and ')}`}
            </Subtitle>
            {e.projectSlugs && (
              <div>
                Projects:
                {e.projectSlugs
                  ?.map((slug) => projects.find((x) => x.slug === slug)!)
                  .map((p, idx) => (
                    <>
                      {idx !== 0 ? ', ' : ''}
                      <a class="underline" href={`/projects/${p.slug}`}>
                        {p.title}
                      </a>
                    </>
                  ))}
              </div>
            )}
            <div class="prose-sm mt-1">
              {e.paragraphs?.map((p) => (
                <p>{p}</p>
              ))}
              {e.tags && <p>Tech: {e.tags?.join(', ')}</p>}
            </div>
          </div>
        </TimeLine>
      ))
    }
  </div>

  <div class="mb-5">
    <SectionHeading>Certifications</SectionHeading>
  </div>

  <div class="mb-8">
    {
      certs.map((c, idx) => (
        <TimeLine last={idx === certs.length - 1}>
          <div class="mb-2">
            <Title>{c.title}</Title>
            <Subtitle>{c.subtitle}</Subtitle>
          </div>
        </TimeLine>
      ))
    }
  </div>

  <div class="mb-5">
    <SectionHeading>Education</SectionHeading>
  </div>

  <div class="mb-8 grid gap-4">
    <TimeLine>
      <div class="mb-2">
        <Title>Master of Science, Computer Science</Title>
        <Subtitle>1996 to 2001 at University of Helsinki</Subtitle>
        <ul class="mt-2">
          <li>Major: Software Engineering</li>
          <li>1. Minor: Mathematics</li>
          <li>2. Minor: Work Psychology and Leadership</li>
        </ul>
      </div>
    </TimeLine>
    <TimeLine last={true}>
      <div class="mb-2">
        <Title>Spanish Language and Culture</Title>
        <Subtitle>2003 to 2003 at Universidad de Zaragoza, Spain</Subtitle>
      </div>
    </TimeLine>
  </div>

  <div class="mb-5">
    <SectionHeading>Skills</SectionHeading>
  </div>

  <ul class="mx-6 list-disc columns-2 md:columns-5">
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>
</Layout>
